

<div class="m-3" style="font-size:14px">
  <div class="row">
    <div class="col">
      <label class="form-label">Datasource Name</label>
      <input class="form-control form-control-sm" name="datasource_name" />
    </div>
    <div class="col mb-2 form-check" style="display:flex; align-items:flex-end">
      <input
        class="form-check-input my-1"
        type="checkbox"
        [(ngModel)]="samplerCheck"
        value=""
      />
      <label class="mx-2 form-check-label">Sampler</label>
    </div>
    <div
      class="col"
      style="display:flex;align-items:flex-end;justify-content:flex-end"
    >
      <Button class="btn btn-secondary">Evaluate</Button>
      <Button class="btn btn-primary mx-2">Save</Button>
    </div>
  </div>
  <div class="row my-2">
    <div class="col">
      <mat-card class="mat-card-container">
        <mat-tree
          [dataSource]="nestedDataSource"
          [treeControl]="nestedTreeControl"
        >
          <mat-nested-tree-node *matTreeNodeDef="let node">
            <li class="tree-container" [class.root-node]="_isRootNode(node)" [class.borderMain]="!_isRootNode(node)">
              <div class="mat-tree-node">
                <div *ngIf="!_isRootNode(node)" class="setBorder"></div>
                <div class="node-name" style="display:flex;align-items:center ;justify-content:space-between">
                  <button class="node-button" (click)="openNodeConfigForm(node)">
                    {{ node.name }}
                  </button>
                  <div style="display:inline-flex;align-items:center">
                    <mat-button
                      mat-icon-button
                      matTreeNodeToggle
                      class="node-view-button"
                    >
                      <mat-icon style="padding-top:5px">
                        {{
                          nestedTreeControl.isExpanded(node)
                            ? 'expand_more'
                            : 'chevron_right'
                        }}
                      </mat-icon>
                    </mat-button>
                    <button class="node-add-button" (click)="openAddNodeForm(node) ">
                      <mat-icon class="bi bi-plus"></mat-icon>
                    </button>

                    <button (click)="deleteNode(node)" class="node-del-button">
                    <mat-icon class="bi bi-x"></mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <ul class="nested-node">
                <div *ngIf="nestedTreeControl.isExpanded(node)">
                  <ng-container matTreeNodeOutlet></ng-container>
                </div>
              </ul>
            </li>
          </mat-nested-tree-node>
        </mat-tree>
      </mat-card>
    </div>
    <div class="col">
      <div *ngIf="showAddNodeForm">
        <div class="row my-2">
          <div class="col">
            <label class="form-label" for="table-name"> Table </label>
            <input
              [(ngModel)]="tableName"
              name="table"
              class="form-control form-control-sm"
              id="table-name"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="col">
            <label class="form-label" for="table-name"> Alias </label>
            <input
              [(ngModel)]="tableAlias"
              name="alias"
              class="form-control form-control-sm"
              id="table-alias"
            />
          </div>
        </div>
        <Button
          class="btn-primary btn my-2"
          style="background:#085b99"
          (click)="addNode()"
          >Create node</Button
        >
      </div>
      <div *ngIf="showNodeConfigForm">
        <form [formGroup]="nodeConfigForm" style="border:1px solid grey; border-radius:6px;margin-top:10px">
          <div style="height:50px">
          <div style="height:100%;border-radius: 6px 6px 0px 0px;padding:10px;background: grey;font-size:20px;color:white">{{activeNode['name']}}</div>
          </div>
          <div style="padding:0px 20px 10px 20px">
          <div class="row my-2">
            <div class="col">
              <label class="form-label">Table</label>
              <input class="form-control form-control-sm" formControlName="table">
            </div>
            <div class="col" style="display:flex;justify-content:flex-end;align-items:flex-end"><Button class="btn-primary btn">Load Table</Button></div>
          </div>
          <div class="row">
            <div class="col">
              <label class="form-label">Select</label>
              <ng-multiselect-dropdown
                formArrayName="select"
                [settings]="dropdownSettings"
                [data]="getSelectValues()"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>
          <div class="row my-1">
            <div class="col">
              <label class="form-label">Where</label>
              <input
                name="where"
                formControlName="where"
                class="form-control form-control-sm"
              />
            </div>
            <div *ngIf="samplerCheck" class="col">
              <label class="form-label">Sampler</label>
              <input
                name="sampler"
                formControlName="sampler"
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div *ngIf="!_isRootNode(activeNode)" class="row my-1">
            <div class="col">
              <div style="display:flex;justify-content:space-between" class="mb-2">
                <label class="form-label">Join</label>
                <Button
                  (click)="addJoinCondition()"
                  class="btn btn-primary"
                  style=""
                  >Add Condition</Button
                >
              </div>
              <div style="max-height:130px;overflow:auto">
              <ng-container formArrayName="join" >
                <app-condition-form
                  *ngFor="let control of _conditionsFormArray?.controls;index as j"
                  (remove)="deleteCondition(j)"
                  [formControlName]="j"
                
                >
                  
                </app-condition-form>
              </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="form-label">Limit</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="limit"
              />
            </div>
            <div class="col" style="display:flex;justify-content:flex-end;align-items:flex-end">
              <Button class="btn btn-success" (click)="saveActiveNode()">Save Node</Button>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>